*{
    margin: 0;
    padding: 0;
}

.headingStyle{
    background-color: purple;
    color: white;
    padding: 16px;
    text-align: center;
}

.card{
    background-color: #ffda77;
    box-shadow: 2px 4px 4px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 390px;
    display: inline-block;
}

.cardtitle{
    text-align: center;
    margin-bottom: 5px;
}
.description{
    text-align: justify;
    margin-bottom: 5px;
}

.footer{
    text-align: center;
    font-weight: bold;
}